{% load static %}
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/flatpickr/dist/l10n/pt.js"></script>
<script src="{% static 'assets/js/core.bundle.js' %}"></script>
<script src="{% static 'assets/vendors/apexcharts/apexcharts.min.js' %}"></script>
<script src="{% static 'assets/js/widgets/general.js' %}"></script>
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>

<!-- leaflet -->
<script src="https://unpkg.com/leaflet@1.9.3/dist/leaflet.js"></script>
<script src="{% static 'assets/js/custom/leaflet.awesome-markers.js' %}"></script>
<script src="https://unpkg.com/leaflet-draw/dist/leaflet.draw.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@6.5.0/turf.min.js"></script>

<!-- turf -->
<script src="https://cdn.jsdelivr.net/npm/@turf/turf@6.5.0/turf.min.js"></script>

<!-- Select2 JS (deve ser depois do jQuery) -->
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>