{% extends "authapp/base.html" %} {% load static %}

{% block title %}Recuperar Senha{% endblock %}

{% block content %}
<div class="flex items-center justify-center grow bg-center bg-no-repeat page-bg">
  <div class="card max-w-[370px] w-full">

    <form method="post" action="{% url 'authapp:password_reset' %}" class="card-body flex flex-col gap-5 p-10"
      id="reset_password_enter_email_form" method="post">
      {% csrf_token %}
      <div class="text-center">
        <h3 class="text-lg font-medium text-gray-900">
          Seu Email
        </h3>
        <span class="text-2sm text-gray-700">
          Insira seu email para redefinir senha
        </span>
      </div>
      {% if form.errors %}
      <div class="text-red-500 text-sm mt-2">
        {% for field in form %}
        {% for error in field.errors %}
        <p>{{ error }}</p>
        {% endfor %}
        {% endfor %}
      </div>
      {% endif %}
      <div class="flex flex-col gap-1">
        <label class="form-label font-normal text-gray-900">
          Email
        </label>
        <input name="email" id="email" class="input" placeholder="email@email.com" type="text" value="" />
      </div>
      <button type="submit" class="btn btn-primary flex justify-center grow">
        Continuar
        <i class="ki-filled ki-black-right">
        </i>
      </button>
      <a class="text-2sm link text-center" href="{% url 'authapp:login' %}"> 
        Voltar ao login
      </a>
    </form>
  </div>
</div>
{% endblock %}